extends layout

block content
  h1= title
  p Welcome to #{title}
  form#registform(method="post", action="/users/register")
    input#username(type="text", name="username")
    input#password(type="password", name="password")
    button(type="submit") Submit