doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/events.js')
  body
    block content
        button#init(type="button") Init...
        div#result